.searchbar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.searchbar-input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 50px;
  padding: 10px 14px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.searchbar-icon {
  color: #1e4c9a;
  margin-right: 8px;
  flex-shrink: 0;
}

.searchbar-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
  background: transparent;
}

@media (max-width: 600px) {
  .searchbar-container {
    top: 40px;
  }
  .searchbar-input-wrapper {
    padding: 8px 12px;
  }

  .searchbar-input {
    font-size: 13px;
  }
}
